<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="org.freemp.android"

        android:versionCode="107"
        android:versionName="1.0.7">

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="19"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>

    <application android:icon="@drawable/icon" android:label="@string/app_name" android:theme="@style/theme">
        <activity android:name="org.freemp.android.player.ActPlayer"
                  android:launchMode="singleTop"
                  android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="org.freemp.android.playlist.ActPlaylist"
                  android:theme="@style/thinAb"
                  android:configChanges="keyboardHidden|orientation|screenSize">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="ru.recoilme.mielophone.player.ViewPlayer" />
        </activity>

        <activity android:name="org.freemp.android.playlist.ViewLogin"
                  android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="org.freemp.android.web.ActFreemporg"

                  android:theme="@style/thinAb"
                  android:configChanges="keyboardHidden|orientation|screenSize">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="ru.recoilme.mielophone.player.ViewPlayer" />
        </activity>
        <receiver android:name="org.freemp.android.player.RcvMediaControl">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <service android:name="org.freemp.android.player.ServicePlayer">
            <intent-filter>
                <action android:name="org.freemp.android.player.action.TOGGLE_PLAYBACK" />
                <action android:name="org.freemp.android.player.action.PLAY" />
                <action android:name="org.freemp.android.player.action.PAUSE" />
                <action android:name="org.freemp.android.player.action.SKIP" />
                <action android:name="org.freemp.android.player.action.REWIND" />
                <action android:name="org.freemp.android.player.action.STOP" />

            </intent-filter>
            <intent-filter>
                <action android:name="com.example.android.musicplayer.action.URL" />
                <data android:scheme="http" />
            </intent-filter>
                </service>
    </application>
</manifest>
